# Cache files
__pycache__/

# Virtual environments
venv/

# Local databases
*.db
*.sqlite3

# Environment files
.env

# MacOS specific files
.DS_Store

# VScode settings
.vscode/

# Temporary files
*.tmp
*.swp
*.swo