<!-- addEvents.html -->
{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">VeriFace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewEvents">View Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/addEvents">Add Events<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="text">
        <h1>Add New Event</h1>
        <body>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.eventName.label }} <br>
                    {{ form.eventName(size=32) }}
                    {% for error in form.eventName.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <div class="page-header">
                    {{ form.date(class="DateTimeField") }}
                </div>

                <div class="page-header">
                    {{ form.time(class="DateTimeField") }}
                </div>

                <p>
                    {{ form.code.label }} <br>
                    {{ form.code(size=6) }}
                    {% for error in form.code.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <div class="form-group">
                    <br>
                    {{ form.users.label }}
                    {{ form.users(class="form-control", multiple="multiple") }}
                </div>

                <p>{{ form.submit() }}</p>
            </form>
        </body>
    </div>
</div>
{% endblock %}
