<!-- addtoEvents.html -->
{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">VeriFace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewEvents">View Events</a>
      </li>
      {% if current_user.act_role in ["professor", "staff"] %}
       <li class="nav-item">
         <a class="nav-link" href="/addEvents">Add Events</a>
       </li>
       {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="/addtoEvents">Signup Event<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
</br>
<!-- Dynamic Clock -->
<div class="clock-container">
  <p id="dynamicClock" style="font-size: 15px; font-weight: bold;"></p>
</div>
<div class="container">
  <div class="text">
    <h1>Signup for Event</h1>
    </style>
    <body>
      <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p>
          {{ form.code.label }} <br>
          {{ form.code(size=6) }}
          {% for error in form.code.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
      </div>
    </div>
  </form>
  </body>
{% endblock %}
