<!-- register.html -->
{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<div class="navbar">
   <a href="/" class="navbar-link">&nbsp;&nbsp;&nbsp;VeriFace</a>
</div>
<div class ="container">
<div class ="text">
<h1>Create a New Account</h1>
<body> To register, please fill out the following fields below </body>
<form action="" method="POST" enctype="multipart/form-data" novalidate>
    {{form.hidden_tag()}}

    <body> Possible roles are: guest, student, professor, staff, and admin </body>
      <!--   {{form.reg_role(size=32)}}  -->
      <div class="form-group"> </div>
         <select id="reg_role" name="reg_role" class="form-control" required>
             <option value="" disabled selected>Select Role</option>
             <option value="guest">Guest</option>
             <option value="student">Student</option>
             <option value="professor">Professor</option>
             <option value="staff">Staff</option>
             <option value="admin">Admin</option>
         </select>
     </div> 

   {%for error in form.reg_role.errors%}
   <span style="color: red;"> [{{error}}]</span>
   {% endfor %}
   </p>
    
    <p> {{form.fname.label}} <br>
        {{form.fname(size=32)}}
     {%for error in form.fname.errors%}
     <span style="color: red;"> [{{error}}]</span>
     {% endfor %}
     </p>

     <p> {{form.lname.label}} <br>
        {{form.lname(size=32)}}
     {%for error in form.lname.errors%}
     <span style="color: red;"> [{{error}}]</span>
     {% endfor %}
     </p>

    <p> {{form.username.label}} <br>
       {{form.username(size=32)}}
   
    {%for error in form.username.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>


    <p> {{form.email.label}} <br>
       {{form.email(size=32)}}
    {%for error in form.email.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.password.label}} <br>
       {{form.password(size=32)}}

    {%for error in form.password.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

  

    <p> {{form.confirm.label}} <br>
       {{form.confirm(size=32)}}
    {%for error in form.confirm.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <body> Password can be up to 32 characters </body>

    <p>{{form.file.label}} {{form.file()}}</p>

    <p>{{form.submit()}}</p>
    <body><br>
           Already have an account?
    </body>
    <p>{{form.sign()}}</p>
    </div>
    </div>
</form>
{% endblock %}