<!-- viewEvents.html -->
{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">VeriFace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">Home</a>
      </li>
      {% if current_user.act_role in ["student", "guest"] %}
      <li class="nav-item active">
        <a class="nav-link" href="/">View Events <span class="sr-only"> </span></a>
      </li>
      {% endif %}

      {% if current_user.act_role in ["professor", "staff"] %}
     <li class="nav-item active">
        <a class="nav-link" href="/viewEvents">View Events<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addEvents">Add Events</a>
      </li>
      {% endif %}
      {% if current_user.act_role in ["student", "guest", "professor", "staff"] %}
        <li class="nav-item">
          <a class="nav-link" href="/addtoEvents">Signup Event</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
</br>
<!-- Dynamic Clock -->
<div class="clock-container">
  <p id="dynamicClock" style="font-size: 15px; font-weight: bold;"></p>
</div>

<h2>Events </h2>
<table>
  <thread>
    <tr>
      <th>Name</th>
      <th>Date </th>
      <th>Time </th>
      <th>Class Code </th>
      {% if current_user_role in ["professor", "staff"] %}
        <th>Start Attendance</th>
        <th> Delete event</th>
      {% endif %}
      <th>View Attendance </th>
     
    </tr>
  </thread>
  <tbody>
    {% for events in events %}
    <tr> 
      <td> {{ events.eventName }}</td>
      <td>{{ events.date }}</td>
      <td>{{ events.time }}</td>
      <td>{{ events.code }}</td>
      {% if current_user_role in ["professor", "staff"] %}
        <td><a href="{{ url_for('start_attendance', id=events.id) }}" target="_blank">Start</a></td>
        <td> <form action="{{ url_for('delete_event', id=events.id) }}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this event?');">
          <button type="submit">Delete</button>
      </form> </td>
      {% endif %}
      
      <td><a href="{{ url_for('viewAttendance', id=events.id) }}">View Attendance</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
